@page
@model IndexModel
@{
    ViewData["Title"] = "My Favorite Song";
}

<div class="hero">
    <h1>My Favorite Song Website</h1>
    <p>Created by Niranjan for Web Development Assignment</p>
</div>

<div class="content">

    <h2>Shape of You - Ed Sheeran</h2>

    <iframe width="800"
            height="450"
            src="https://www.youtube.com/embed/JGwWNGJdvx8"
            title="YouTube video player"
            allowfullscreen>
    </iframe>

    <div class="song-info">
        <h3>About the Song</h3>

        <p>
            Shape of You is one of my favorite songs because of its catchy rhythm,
            energetic beat, and worldwide popularity.
        </p>
    </div>

    <h3>Music Visualizer</h3>

    <div class="equalizer">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

</div>